.jel.container{
    border: solid 1px black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #d3d3d3;
    box-shadow: 5px 5px 5px black;
}

.jel{
    width: 90%;
}


.kep1{
    display: block;
    max-height: 240px;
    margin-left: auto;
    margin-right: auto;
}

.kep2{
    display: block;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.jelol:hover{
    background-color: #bebebe;
}

ol li{
    padding: 5px;
    text-align: left;
}

.hozzavalo{
    padding: 5px;
    text-align: left;
}

span{
    font-weight: bold;
}

h3{
    margin-top: 15px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-align: center;
}

h2 {
    margin-top: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.koz {
    text-align: center;
}
