body{
    background: linear-gradient(30deg, red, orange, red);
    background-attachment: fixed;
    font-family: Arial;
}

main{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

main .container{
    border: solid 1px black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: wheat;
    box-shadow: 5px 5px 5px;
}

main .container:last-of-type{
    margin-bottom: 30px;
}

main img{
    margin-bottom: 10px;
}

main h2{
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

main h4{
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
}

main ul{
    list-style: inside square;
}

main p, main li{
    text-align: justify;
}

main a{
    text-decoration: none;
    color: brown;
    text-align: right;
}

main a:hover{
    color: blue;
}

main ol li{
    text-indent: 12px;
    line-height: 1.8em;
}

main p{
    text-indent: 12px;
}