main{
    font-family: Arial;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

main .container{
    border: solid 1px black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #d3d3d3;
    box-shadow: 5px 5px 5px;
}

main .container:last-of-type{
    margin-bottom: 30px;
}

main .container .img-thumbnail{
    display: block;
    margin: auto;
}

main h2{
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

main h4{
    margin-top: 15px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-align: center;
}

main ul{
    list-style: inside square;
}

main p, main li{
    text-align: justify;
}

main ol li{
    text-indent: 12px;
    line-height: 1.8em;
}

main ol li:hover{
    background-color: #bebebe;
}

main p{
    text-indent: 12px;
}