main{
    padding-top: 80px;
    padding-bottom: 80px;
    
}

main .container{
    width: 90%;
    margin-top: 25px;
    border: solid 2px black;

    box-shadow: 5px 5px 5px;
}

main .row{
    border: solid 2px red;


}

main .col{
    border: solid 2px cyan;


}

h2{
    text-align: center;
    text-decoration: underline solid 2px;
}

h3{
    text-align: center;
    text-decoration: underline solid 1px;
}

main img{
    display: block;
    height: 300px;
    width: 500px;
    border: solid 10px brown;
    border-radius: 150px;
    float: right;
}

main img:nth-of-type(even){
    
    border: solid 10px red;
}