body{
    background: white fixed;
    background-repeat: no-repeat;
}

#rantottcsirke{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
    background: linear-gradient(to right top, rgb(153, 108, 50) 40%, rgb(192, 189, 20) 60%);
    box-shadow: 10px 5px 5px black;
    border-radius: 5%;
    margin-top: 80px;
    margin-bottom: 100px;
    border: 2px solid black;
}

h1{
    text-align: center;
    margin: 15px;
    color: white;
    letter-spacing: 3px;
    font-variant: small-caps;
}

#masodikB{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    text-align: justify;
}

#elsoB{
    color: white;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#elsoB::first-letter{
    font-size: 150%;
}

hr{
    border: none;
    position: relative;
    height: 5px;
    background: black;
}

h2{
    color: white;
    font-variant: small-caps;
}

#lista{
    background: radial-gradient(circle at left top, rgb(146, 112, 146) 40%, rgb(98, 98, 252) 60%);
    box-shadow: 5px 5px 15px black;
    color: white;
    border: 2px solid black;
    text-align: left;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#rizs{
    background: radial-gradient(circle at left top, rgb(146, 112, 146) 40%, rgb(98, 98, 252) 60%);
    box-shadow: 5px 5px 15px black;
    color: white;
    border: 2px solid black;
    text-align: left;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h3{
    color: white;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: left;
    text-align: justify;
    color: white;
    text-indent: 10px;
    padding: 30px;
}

img{
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 30px 15px 50px black;
}