table{
    width: 80%;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

thead th{
    text-align: center;
    font-size: 2em;
}

table td{
    text-align: center;
}

h2{
    margin-top: 15px;
}

span{
    font-weight: bold;
}

ol li{
    padding: 5px;
    text-align: left;
}

#jel{
    background-color: #d3d3d3;
    margin-top: 70px;
    margin-bottom: 10px;
    box-shadow: 5px 2px 2px black;
    border-radius: 20px;
    width: 90%;
}

.sor1{
    height: 250px;
}

.sor2{
    height: 250px;
}

.hozzavalo{
    padding: 5px;
    text-align: left;
}

#jelol:hover{
    background-color: #bebebe;
}

.kep{
    max-width: 350px;
    width: 100%;
    border-radius: 5%;
    float: inherit;
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid black;
}

.vastag{
    max-width: 350px;
}
